In [1]:
import os
import pandas as pd
import numpy as np
#import the source file
pybank_csv = "PyBank/Resources/budget_data.csv"

pybank_df = pd.read_csv(pybank_csv)

In [2]:
pybank_df["Monthly_Change"] = pybank_df["Profit/Losses"].diff()
pybank_df.head()

       Date  Profit/Losses  Monthly_Change
0  Jan-2010         867884             NaN
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0

In [3]:
pybank_drop_df = pybank_df.dropna()
pybank_drop_df.head()

       Date  Profit/Losses  Monthly_Change
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0
5  Jun-2010         522857        212354.0

In [4]:
months = pybank_df["Date"].count()

In [5]:
averagemonthchange = pybank_df["Monthly_Change"].mean()

In [6]:
total = pybank_df["Profit/Losses"].sum()

In [7]:
pybank_df["Profit/Losses"] = pybank_df["Profit/Losses"].astype(float).map(
    "${:,.2f}".format)
pybank_df["Monthly_Change"] = pybank_df["Monthly_Change"].astype(float).map(
    "${:,.2f}".format)
pybank_df

        Date Profit/Losses Monthly_Change
0   Jan-2010   $867,884.00           $nan
1   Feb-2010   $984,655.00    $116,771.00
2   Mar-2010   $322,013.00   $-662,642.00
3   Apr-2010   $-69,417.00   $-391,430.00
4   May-2010   $310,503.00    $379,920.00
..       ...           ...            ...
81  Oct-2016   $102,685.00   $-665,765.00
82  Nov-2016   $795,914.00    $693,229.00
83  Dec-2016    $60,988.00   $-734,926.00
84  Jan-2017   $138,230.00     $77,242.00
85  Feb-2017   $671,099.00    $532,869.00

[86 rows x 3 columns]

In [8]:
financial_summary = {'Months: ': [months], 'Total: ': [total], 'Average Monthly Change: ': [averagemonthchange]}
greatestincrease = pybank_drop_df[pybank_drop_df.Monthly_Change == pybank_drop_df.Monthly_Change.max()]
greatestdecrease = pybank_drop_df[pybank_drop_df.Monthly_Change == pybank_drop_df.Monthly_Change.min()]


print('Financial Summary')
print('_________________')
print(f'Months:  {months}')
print(f'Total: ${total}')
print(f'Average Monthly Change: ${averagemonthchange}')
pybank_drop_df
greatestincrease["Profit/Losses"] = greatestincrease["Profit/Losses"].map("${:,.2f}".format)
greatestincrease["Monthly_Change"] = greatestincrease["Monthly_Change"].map("${:,.2f}".format)
greatestdecrease["Profit/Losses"] = greatestdecrease["Profit/Losses"].map("${:,.2f}".format)
greatestdecrease["Monthly_Change"] = greatestdecrease["Monthly_Change"].map("${:,.2f}".format)

Financial Summary
_________________
Months:  86
Total: $38382578
Average Monthly Change: $-2315.1176470588234

/Users/kateengard/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/kateengard/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/kateengard/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/kateengard/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [10]:
import os
import csv
output_file = os.path.join('budget_analysis.txt')

output = (f'Financial Summary \n'
    f'_________________\n'
    f'Months:  {months}\n'
    f'Total: ${total}\n'
    f'Average Monthly Change: ${averagemonthchange}\n'

    f'{greatestincrease}\n' 
    f'{greatestdecrease}')


print(output)
with open (output_file, 'w') as txt_file:
    txt_file.write (output)

Financial Summary
_________________
Months:  86
Total: $38382578
Average Monthly Change: $-2315.1176470588234
        Date  Profit/Losses Monthly_Change
25  Feb-2012  $1,170,593.00  $1,926,159.00
        Date   Profit/Losses  Monthly_Change
44  Sep-2013  $-1,196,225.00  $-2,196,167.00